HTTP/1.1 RFC読む

HTTP/1.1最初の仕様。
[RFC 2068 Hypertext Transfer Protocol -- HTTP/1.1](https://datatracker.ietf.org/doc/html/rfc2068)

他のRFCで改良され、フォーマットとセマンティクスを分離して以下の３つの文書にまとめられた。分離によってHTTP/2及びHTTP/3においてもRFC 9110のセマンティクスを参照することができるようになった。
[RFC 9110 HTTP Semantics](https://www.rfc-editor.org/rfc/rfc9110.html)
[RFC 9111 HTTP Caching](https://www.rfc-editor.org/rfc/rfc9111.html)
[RFC 9112 HTTP/1.1](https://www.rfc-editor.org/rfc/rfc9112.html)

HTTP is a stateless application-level request/response protocol that uses extensible semantics and self-descriptiv messages for flexible interaction with network-based hypertext information systems.
HTTP/1.1 is defined by the follwing three documents:
* RFC9112 HTTP/1.1
This document specifies the HTTP/1.1 message syntax, message parsing, connection management, and related security concerns.

* RFC9111 HTTP Caching
This document defines HTTP caches and the associated header fields that control cache behavior or indicate cacheable response messages.

* RFC9110 HTTP Semantics
This document describes the overall architecture of HTTP, establishes common terminology, and defines aspects of the protocol that are shared by all versions. In this definition are core protocol elements, extensibility mechanisms, and the "http" and "https" Uniform Resource Identifier (URI) schemes.

## RFC9112 HTTP/1.1
1. Introduction
This specification used the Augmented Backus-Naur Form (ABNF) notation of [RFC5234].

2. Message
The message is conveyed between client and server in HTTP protocol.

2.1 Message Format
```
  HTTP-message   = start-line CRLF
                   *( field-line CRLF )
                   CRLF
                   [ message-body ]
```
```
  start-line     = request-line / status-line
```
```
  request-line   = method SP request-target SP HTTP-version
```
```
  method         = token
  token          = 1*tchar

  tchar          = "!" / "#" / "$" / "%" / "&" / "'" / "*"
                 / "+" / "-" / "." / "^" / "_" / "`" / "|" / "~"
                 / DIGIT / ALPHA
                 ; any VCHAR, except delimiters
```
```
  request-target = origin-form
                 / absolute-form
                 / authority-form
                 / asterisk-form
```
```
  origin-form    = absolute-path [ "?" query ]
  absolute-form  = absolute-URI
  authority-form = uri-host ":" port
  asterisk-form  = "*"
```

```
  status-line = HTTP-version SP status-code SP [ reason-phrase ]
  status-code    = 3DIGIT
  reason-phrase  = 1*( HTAB / SP / VCHAR / obs-text )
```

```
  field-line   = field-name ":" OWS field-value OWS
  obs-fold     = OWS CRLF RWS
               ; obsolete line folding
```

```
  message-body = *OCTET
```




Questions
* Does our webserver act as intermidiary server in any case? Or just the origin server?
* Do we handle encodings?
* Do we handle chunks?
* Do we handle persistent connctions?
* Do we handle pipelining(i.e., send multiple requests without waiting for each response)
* Does the server process requests in parallel?


一応調べたこと。
* セマンティクス：HTTPプロトコルで使用される意味と動作のこと。HTTP通信の基本的なルールと期待される振る舞いを定義し、異なるHTTPバージョン間で共通の基盤となる。これには、HTTPメソッド（GET、POST、PUT、DELETEなど）の意味、ステータスコード（200 OK、404 Not Foundなど）が示す意味、ヘッダーフィールドの用途、リソースの識別と表現、キャッシュ動作、エラー処理などが含まれる。

* フォーマット：HTTPメッセージの構造や表現形式のこと。HTTP通信における具体的なメッセージの構築と解析の方法に関するルールを定める。これには、リクエストとレスポンスの構造、ヘッダーとボディの書式、エンコーディング方法、データの転送方法などが含まれる。

## RFC 9110 HTTP Semantics
#### 概要
>HyperText Transfer Protocol（HTTP）は、分散、共同、ハイパーテキスト情報システムのためのステートレスアプリケーションレベルのプロトコルです。このドキュメントでは、HTTPの全体的なアーキテクチャについて説明し、共通の用語を確立し、すべてのバージョンで共有されるプロトコルの側面を定義します。この定義には、コアプロトコル要素、拡張性メカニズム、および「HTTP」および「HTTPS」均一リソース識別子（URI）スキームがあります。

* HTTP：アプリケーションレベルのステートレスプロトコルであり、分散、共同、ハイパーテキスト情報システムとして使用される。
* 分散：データリソースが単一の場所に集中していないことを意味する。インターネット上で、多数のウェブサイトが多数のサーバーに分散してホストされている。HTTPプロトコルは、このような分散環境でリソース（e.g. ウェブページや画像）にアクセスするための方法を提供する。
* 共同：インターネットが多くの異なる組織、個人、および技術によって共同で作成され、維持されているという意味。
* ハイパーテキスト情報システム：ハイパーテキストとは、テキストだけでなく、リンク、画像、音声、ビデオなどの様々な種類のメディアを含むテキストのこと。ハイパーテキスト情報システムでは、相互にリンクされたこれらの異なる種類のコンテンツを辿ることで一つのリソースから別のリソースへと移動し利用する。

#### 1. はじめに
##### 1.1. 目的
> ハイパーテキスト転送プロトコル（HTTP）は、ネットワークベースのハイパーテキスト情報システムとの柔軟な対話を可能にするために、一般的なインターフェイス、拡張可能なセマンティクス、および自己記述的なメッセージを共有する、ステートレス、アプリケーションレベルのリクエスト/応答プロトコルのファミリーです。

* 拡張可能なセマンティクス: 既存のプロトコルに新たな機能や命令を追加可能なことを意味する。例えば、GETやPOSTに加えて新しいHTTPメソッドやヘッダーを導入することでプロトコルの機能を拡張可能。

* 自己記述的なメッセージ: メッセージそれ自体にその内容と意味を明確に伝えるのに十分な情報が含まれること。例えば、HTTPリクエストには、使用されているメソッド（GET、POSTなど）、リソースのURI、使用されているプロトコルのバージョンなどの情報が含まれる。レスポンスには、ステータスコード、データの種類を示すコンテンツタイプなどが含まれる。

> HTTPは、提供されるリソースの種類に依存しないクライアントに均一なインターフェイスを提示することにより、サービスの実装方法の詳細を隠します。同様に、サーバーは各クライアントの目的を認識する必要はありません。特定のタイプのクライアントまたは事前に決められたアプリケーションステップに関連付けられるのではなく、リクエストを単独で考慮することができます。これにより、汎用の実装を多くの異なるコンテキストで効果的に使用し、相互作用の複雑さを軽減し、時間の経過とともに独立した進化を可能にします。

> HTTPは、中間化プロトコルとして使用するように設計されており、プロキシとゲートウェイは非HTTP情報システムをより一般的なインターフェイスに変換できます。

* プロキシ：プロキシとは代理サーバーのこと。フォワードプロキシとリバースプロキシがある。
* ゲートウェイ：異なる種類のネットワークやプロトコル間の通過点。

##### 1.2. 歴史と進化
> HTTP は、1990 年の導入以来、World Wide Web の主要な情報転送プロトコルです。HTTP は、低遅延リクエストのための簡単なメカニズムとして始まり、単一のメソッド (GET) を使用して、パス名で指定したハイパーテキストドキュメントの転送を要求します。Web が成長するにつれて、HTTP はメッセージ内にリクエストとレスポンスを含め、MIME のようなメディア タイプを使用して任意のデータ形式を転送し、仲介者を介してリクエストをルーティングするように拡張されました。これらのプロトコルは最終的に HTTP/0.9 および HTTP/1.0 として定義されました ( [ HTTP/1.0 ]を参照)。

* MIME： Multipurpose Internet Mail Extensionsの略で、インターネット上での電子メールやウェブコンテンツのためのファイル形式の仕様。異なる種類のデータの識別(text/htm, image/jpeg, application/pdf)に利用する。

> HTTP/1.1 は、既存のテキストベースのメッセージング構文との互換性を維持しながらプロトコルの機能を改良し、インターネット全体での相互運用性、拡張性、堅牢性を向上させるように設計されました。これには、固定コンテンツと動的 (チャンク) コンテンツの両方の長さに基づくデータ区切り文字、コンテンツ ネゴシエーションのための一貫したフレームワーク、条件付きリクエストのための不透明なバリデータ、キャッシュの一貫性を高めるためのキャッシュ コントロール、部分更新のための範囲リクエスト、およびデフォルトの永続的接続が含まれます。HTTP/1.1 は 1995 年に導入され、1997 年に Standards Track で公開[ RFC2068 ]、1999 年に改訂[ RFC2616 ]、2014 年に再度改訂されました ( [ RFC7230 ]から[ RFC7235 ] )。

* 固定コンテンツ：サーバーからクライアントへ転送する際に、そのサイズが事前に確定しているデータのこと。（e.g. 静的Webページ、画像ファイル、PDFなどのダウンロード可能なファイル）

* 動的 (チャンク) コンテンツ：サーバーからクライアントへの転送時にそのサイズが事前に確定していないデータのこと。HTTP/1.1では、動的コンテンツに「チャンク転送エンコーディング」を用いる。

* チャンク転送エンコーディング：データを複数の「チャンク」に分割して送信し、各チャンクにその長さを付加する。転送するデータの全体の長さが事前に分からななくても、各チャンクを逐次転送することで、全体のデータを効率的に送信することができる。最終的に転送が完了したことを示す特別な終了チャンクが送信され、これによりレスポンスの終わりが示される。

* 固定コンテンツと動的 (チャンク) コンテンツの長さに基づくデータ区切り文字：HTTP/1.1では、送信するデータの長さを事前に知ることができる「固定コンテンツ」と、送信時に長さが不明な「動的コンテンツ」の両方をサポートします。動的コンテンツの場合、チャンク転送エンコーディングが使用され、データは複数の「チャンク」に分割されて送信されます。各チャンクにはその長さが含まれ、最後のチャンクの後には終了を示す特別なマーカーが置かれます。

* コンテンツネゴシエーションのための一貫したフレームワーク：クライアントが要求するリソースの特定の表現（言語、形式など）をサーバーが選択するプロセス。HTTP/1.1では、このプロセスを標準化し、クライアントの好みやサーバーの能力に基づいて最適なリソースの表現を選択するためのフレームワークが提供される。

* 条件付きリクエストのための不透明なバリデータ: 特定の条件が満たされた場合にのみリソースを取得または変更するためのリクエスト。HTTP/1.1では、ETag（エンティティタグ）などの「バリデータ」と呼ばれる識別子を使用して、リソースのバージョンを識別し、条件付きリクエストを実行する。

* キャッシュコントロール: キャッシュ動作を制御するための詳細なヘッダーによって、リソースのキャッシュ可能性、キャッシュの有効期限、再検証ポリシーなどを細かく制御できるようになり、キャッシュの効率と一貫性が向上する。

* 部分更新のための範囲リクエスト: リソースの一部をリクエストする「範囲リクエスト」がサポートされている。これにより、クライアントはリソースの全体ではなく、特定の部分だけを要求することができる。

* デフォルトの永続的接続: 接続の再利用が標準化し、一つのTCP接続上で複数のHTTPリクエストとレスポンスを送受信できるようになり、接続の確立と解除にかかる時間とリソースが削減される。

##### 1.3. Core Semantics
>HTTP provides a uniform interface for interacting with a resource (Section 3.1) -- regardless of its type, nature, or implementation -- by sending messages that manipulate or transfer representations (Section 3.2).

* representations：リソースの特定の状態を表す情報。これは、リソース（例えばウェブページ、画像、ビデオ、API応答など）の現在、過去、または望ましい状態を示すためのデータのフォーマット。HTTPを通じて簡単に伝達できる形式で、クライアントとサーバー間でやり取りされる。

表現は次の二つの主要な部分から構成されます：

表現メタデータ (Representation Metadata): これは表現に関する情報を提供します。例えば、コンテンツタイプ（MIMEタイプ）、言語、エンコーディング、サイズなどの情報が含まれます。メタデータは、クライアントが表現を適切に解釈し処理するのに役立ちます。

表現データ (Representation Data): 実際のリソースの内容です。これはテキスト（HTML、XML、JSONなど）、画像、オーディオ、ビデオなど、あらゆる形式のデータが含まれる可能性があります。表現データは、リソースの実際の "本体" を形成します。

例えば、あなたがウェブブラウザを使用してウェブページにアクセスする場合、サーバーはそのページの「表現」を送信します。この場合の表現は、HTML文書（表現データ）とそれに関連するメタデータ（例えば、文書のMIMEタイプが text/html であること）です。

>Each message is either a request or a response. A client constructs request messages that communicate its intentions and routes those messages toward an identified origin server. A server listens for requests, parses each message received, interprets the message semantics in relation to the identified target resource, and responds to that request with one or more response messages. The client examines received responses to see if its intentions were carried out, determining what to do next based on the status codes and content received.

>HTTP semantics include the intentions defined by each request method (Section 9), extensions to those semantics that might be described in request header fields, status codes that describe the response (Section 15), and other control data and resource metadata that might be given in response fields.

>Semantics also include representation metadata that describe how content is intended to be interpreted by a recipient, request header fields that might influence content selection, and the various selection algorithms that are collectively referred to as "content negotiation" (Section 12).
